@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <a href="https://mediclinic.atlassian.net/secure/RapidBoard.jspa?rapidView=36&projectKey=ITMS&view=planning&selectedIssue=ITMS-106&epics=visible" target="_blank">Jira</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
