@page "/datagrid"
@page "/datagrid/{facilitycode}"


<h1 style="display:inline">DataGrid</h1>
<a style="margin-left: 10px" href="https://github.com/akorchev/blazor.radzen.com/blob/master/Pages/DataGridPage.razor" target="_blank">[source code]</a>

<p>This page demonstrates <b>DataGrid</b> component.</p>

@if (cases == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <p><em>Finished Loading...</em></p>
    <RadzenGrid AllowFiltering="true" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@cases" TItem="Case" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Case" Property="TheatreNumber" Title="Theatre" />
            <RadzenGridColumn TItem="Case" Property="Name" Title="Name" />

        </Columns>
    </RadzenGrid>
}

@code {


    class Case
    {
        public string TheatreNumber { get; set; }
        public string Name { get; set; }
    }

    List<Case> cases;

    protected override async Task OnInitAsync()
    {
        cases = new List<Case>();
        cases.Add(new Case { TheatreNumber = "Test", Name = "Test"});
        cases.Add(new Case { TheatreNumber = "Test1", Name = "Test1" });
    }
}
