@page "/doctors"
@using ITMS.App.Data
@using ITMS.Models
@inject ESBService ESBService

<h1>Doctors</h1>

<p>This component fetches demo data from the Service layer (ESB Api).</p>

@if (profiles == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenGrid AllowFiltering="true" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@profiles" TItem="Profile" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Profile" Property="Name" Title="Doctor" />
            <RadzenGridColumn TItem="Profile" Property="Title" Title="Title" />
            <RadzenGridColumn TItem="Profile" Property="Speciality.Description" Title="Speciality" />
            <RadzenGridColumn TItem="Profile" Property="RegistrationNumber" Title="RegistrationNumber" />
            <RadzenGridColumn TItem="Profile" Property="ContactNumbers.TelEmergency" Title="Emergency No" />
        </Columns>
    </RadzenGrid>
}


@code {

    [Parameter] private string facilitycode { get; set; } = "zz";
    [Parameter] private string doctorcode{ get; set; } = "zz";

    IEnumerable<Profile> profiles;

    protected override async Task OnInitAsync()
    {
        profiles = await ESBService.GetProfiles(facilitycode,doctorcode);
    }
}
