@page "/fileinput"

@using ITMS.App.Data
@using ITMS.Models


@inject ESBService ESBService

    <h1 style="display:inline">FileInput</h1><a style="margin-left: 10px" href="https://github.com/akorchev/blazor.radzen.com/blob/master/Pages/FileInputPage.razor" target="_blank">[source code]</a>

<p>This page demonstrates <b>FileInput</b> component.</p>
<RadzenCard>
    <div class="row">
        <div class="col-md-6">
            <h3>FileInput</h3>
            <RadzenCard Style="width:600px;margin-bottom: 20px; height:500px;">
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top:20px">Patient:</div>
                        <b>@(firstPatient.PatientSurname + ", " + firstPatient.PatientInitials)</b>
                        <br />
                        <RadzenFileInput Value="Photo" Style="width:400px;" Change="@(args => Change(args, "FileInput"))" />
                    </div>
                </div>
            </RadzenCard>
        </div>
        <div class="col-md-6">
            <h3>Events</h3>
            <RadzenCard style="overflow: auto;height:500px;">
                @foreach (var e in events.OrderByDescending(i => i.Key))
                {
                    @e.Value
                    <br />
                }
            </RadzenCard>
        </div>
    </div>
</RadzenCard>

@code {

    [Parameter] private string facilitycode { get; set; } = "";
    [Parameter] private string fromdate { get; set; } = "";
    [Parameter] private string todate { get; set; } = "";

    List<Register> registers;
    Patient firstPatient;

    protected override async Task OnInitAsync()
    {
        registers = await ESBService.GetRegisters(facilitycode,fromdate,todate);
        firstPatient = registers.First().Patient;
    }

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void Change(object value, string name)
    {
        //firstPatient.Photo = $"{value}";
        var str = new string($"{value}".Take(100).ToArray());

        events.Add(DateTime.Now, $"{name} value changed to {str}...");
        StateHasChanged();
    }
}
